<div class="container m20">
<% @benefits.each do |benefit| %>
  <div class="col-md-4">
  <div class="layer">
      <div class="bimg">
        <%= image_tag benefit.logo.url(:medium),:class => "imgben" %>
      </div>
      <div class="bbottom">
        <div class="bright">
          <b><%= benefit.name %></b>
          <span><%= benefit.description %></span>
        </div>
       <span class="bbutton">
          <%= link_to t('show', :default => t("helpers.links.show")),
                      benefit_path(benefit), {:style => 'color: #FFFFFF'} %>
        </span>
      </div>
  </div>
</div>
    <% end %>
</div>
