<div class="container m20">
  <div class="row">
    <div class="col-md-12">
      <%- model_class = Benefit -%>
        <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
