<div class="container m20">
<%- model_class = Benefit -%>
<div class="col-lg-4 col-centered col-xs-12">
  <div class="box box-primary">
  <div class="box-body box-profile">
    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <%= image_tag @benefit.logo.url(:medium),:class => "imgben" if @benefit.logo.exists? %>
      </li>
      <li class="list-group-item">
        <%= @benefit.name %>
      </li>
      <li class="list-group-item">
        <%= @benefit.description %>
      </li>
      <li class="list-group-item">

      </li>
  </div>
</div>
</div>
</div>
