<%= form_for [:managers,@building], :html => { :multipart => true, :class => "form-horizontal" } do |f| %>

  <% if @building.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@building.errors.count, "error") %> prohibited this plan from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @building.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.cktext_area :description, :class => 'form-control', :id => 'plan_text' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :location_id, Location.all ,:id,:name, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:location_id) %>
  </div>
  <div class="form-group">
    <%= f.label 'Available', :class => 'control-label col-lg-2' %>
    <div class="col-lg-8 col-xs-12">
      <%= f.select :available,[['True','true'], ['False', 'false']], class:'form-control'%>
    </div>
    <%=f.error_span(:available) %>
  </div>
  <div class="form-group">
    <%= f.label :parking_fee, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.cktext_area :parking_fee, :class => 'form-control' %>
    </div>
    <%=f.error_span(:parking_fee) %>
  </div>
  <div class="form-group">
    <%= f.label :meta_title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :meta_title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:meta_title) %>
  </div>
  <div class="form-group">
    <%= f.label :meta_description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :meta_description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:meta_description) %>
  </div>
  <div class="form-group">
    <%= f.label :tag, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tag, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tag) %>
  </div>
  <div class="form-group">
    <%= f.label :map, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :map, :class => 'form-control' %>
    </div>
    <%=f.error_span(:map) %>
  </div>
  <div class="form-group">
    <%= f.label "360 link", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :spin_link, :class => 'form-control' %>
    </div>
    <%=f.error_span(:spin_link) %>
  </div>
  <div class="form-group">
      <%= f.label :image, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :image, :class => 'form-control' %>
      </div>
      <%=f.error_span(:image) %>
  </div>
  <div id="banners form-group">
    <%= f.fields_for :banners do |banner| %>
      <%= render 'banner_fields', f: banner %>
    <div class="links col-lg-offset-1">
      <%= link_to_add_association 'add banner', f, :banners, :class => 'btn btn-success'%>
    </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_buildings_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>
