<div class="container m20">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
