<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <%- model_class = Building -%>
        <div class="card-header" data-background-color="purple">
          <h4 class="title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
          </div>
        <div class="card-content table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:address) %></th>
                <th><%= model_class.human_attribute_name(:phone) %></th>
                <th><%= model_class.human_attribute_name(:description) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @buildings.each do |building| %>
                <tr>
                  <td><%= link_to building.id, managers_building_path(building) %></td>
                  <td><%= building.name %></td>
                  <td><%= building.address %></td>
                  <td><%= building.phone %></td>
                  <td><%= building.description %></td>
                  <td>
                    <%= link_to t('.show', :default => t("helpers.links.show")),
                                managers_building_path(building), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_managers_building_path(building), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                managers_building_path(building),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                :class => 'btn btn-xs btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to t('.new', :default => t("helpers.links.new")),
                      new_managers_building_path,
                      :class => 'btn btn-success btn-block' %>
        </div>
      </div>

    </div>

  </div>
</div>
