<div class="container m20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info class">
        <div class="panel-heading">
          <p><%= @building.name %></p>
        </div>
        <div class="panel-body">
          <p><%= raw @building.try(:description) %></p>
          <p><%= @building.try(:phone) %></p>
          <p><%= @building.try(:address) %></p>
        </div>
      </div>
      <% if @building.banners.present? %>
        <% @building.banners.each do |banner| %>
          <div class="col-md-3">
            <%= image_tag banner.image.url(:medium),:class => "responsive" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
