<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <%- model_class = EvhiveConnect -%>
        <div class="card-header" data-background-color="purple">
          <h4 class="title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:email) %></th>
                <th><%= model_class.human_attribute_name(:startup) %></th>
                <th><%= model_class.human_attribute_name(:need) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @evhive_connects.each do |evhive_connect| %>
                <tr>
                  <td><%= link_to evhive_connect.id, managers_career_path(evhive_connect) %></td>
                  <td><%= evhive_connect.name %></td>
                  <td><%= evhive_connect.email %></td>
                  <td><%= evhive_connect.startup %></td>
                  <td><%= evhive_connect.need %></td>
                  <td><%= evhive_connect.created_at %></td>
                  <td>
                    <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_managers_evhive_class_path(evhive_class), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                managers_evhive_class_path(evhive_connect),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                :class => 'btn btn-xs btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


      <%#= link_to t('.new', :default => t("helpers.links.new")),
                  new_managers_evhive_class_path,
                  :class => 'btn btn-primary' %>

    </div>
  </div>
</div>
