<%= content_for(:title, "EV Hive | Welcome to User Dashboard" ) %>
<div class="container m20 ptop">
  <h3 class="dashboard-username">Hi, <%= current_user.fullname %></h3>
  <hr>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="well well-primary font-white">
        <p class="text-center font-blue"><i class="fa fa-address-card-o fa-3x"></i></p>
        <h3 class="text-center">Subscription</h3>
        <% if current_user.subscriptions.empty? %>
          <p class="text-center">Free Membership <%= link_to "Upgrade Now", plans_path, :class => "btn1 btn-sm" %></p>
        <% else %>
          <% current_user.subscriptions.where("paid = ?",true).last(1).each do |sb| %>
            <p class="text-center"><%= sb.plan.try(:name) %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= link_to benefits_path do%>
    <div class="col-md-4 col-xs-12">
      <div class="well well-primary font-white">
        <p class="text-center font-blue"><i class="fa fa-ticket fa-3x"></i></p>
        <h3 class="text-center">Benefits & Perks</h3>
        <p class="text-center"><%= @benefits.count %> Benefits</p>
      </div>
    </div>
    <% end %>

    <%#= link_to schedules_path  do%>
    <div class="col-md-4 col-xs-12">
      <div class="well well-primary font-white">
        <p class="text-center font-blue"><i class="fa fa-calendar fa-3x"></i></p>
        <h3 class="text-center">Meeting Room</h3>
        <p><%= link_to "Booking Now", schedules_path, class:'btn btn1 btn-block'%></p>
      </div>
    </div>
    <%# end %>

  </div>

  <div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Purchase History</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Plans</th>
                <th>Date</th>
                <th>Payment Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @subscriptions.each do |subscription|%>
              
              <tr>
                <td><%= link_to subscription_path(subscription) do%><p><%= subscription.plan.name%><p><%end%></td>
                <td><p><%= subscription.created_at.strftime("%d/%m/%Y")%><p></td>
                <td>
                  <% if subscription.paid? %>
                    <p class="label label-success">Paid</p>
                  <%else%>
                    <p class="label label-danger">Not Completed</p>
                  <%end%>
                </td>
              </tr>
              
              <% end %>
            
            </tbody>
          </table>
        </div>

      </div>
    </div>
  
    </div>
    
  </div>

  <!--<div class="row">
    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info panel-danger">
          <div class="panel-heading">
            Welcome: <%= current_user.fullname %>
          </div>
          <div class="panel-body">
            Subscription:
            <br>
            <% if current_user.subscriptions.empty? %>
            <p>Free Membership <%= link_to "Upgrade Now", plans_path, :class => "btn1 btn-sm" %></p>
            <% else %>
              <% current_user.subscriptions.last(1).each do |sb| %>
                <%= sb.plan.try(:name) %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Benefits
          </div>
          <div class="panel-body">
            <p><%= link_to "Benefits", benefits_path, :class => "btn1 btn-sm" %></p>
          </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Rooms
          </div>
          <div class="panel-body">
            <p><%= link_to "Meeting Room", schedules_path, :class => "btn-success btn btn-block" %></p>
          </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Purchase History
          </div>
          <div class="panel-body">
            <ul>
            <% @subscriptions.each do |subscription|%>
              <li>
                <p><%= subscription.plan.name%></p>
                <%= link_to "View", subscription_path(subscription)%>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
    </div>


  </div>-->
</div>

<script>
  $(document).ready(function(){
    $(".well").matchHeight(false);
  });
</script>