<%= content_for(:title, @blog.title ) %>
<div class="container m20 ptop">
  <div class="row">
    <!-- blog show -->
    <div class="col-md-offset-2 col-md-8 col-xs-12">
      <h1><%= @blog.title %></h1>
      <p style="color:#898989;"><%= @blog.created_at.strftime("%d %B %Y")%></p>
      <%= social_share_button_tag(@blog.title) %>
      <%= image_tag @blog.banner.url(:original), :class => 'blog-banner' %>
      <p><%= raw @blog.content %></p>
      <p>Category: <%=raw tag_links(@blog.all_tags)%></p>
    </div>
  </div>
</div>
