<%= form_for [:managers,@blog], :html => { :class => "form-horizontal event", multipart: true  } do |f| %>

  <% if @blog.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@blog.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>

  <div class="form-group">
    <%= f.label :meta_description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :meta_description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:meta_description) %>
  </div>

  <div class="form-group">
    <%= f.label :all_tags, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :all_tags, :class => 'form-control', :required => true, :placeholder => "insert value separate by comma" %>
    </div>
    <%=f.error_span(:all_tags) %>
  </div>

  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-lg-2' %>
    <div class="col-lg-8 col-xs-12">
      <%= f.cktext_area :content, :class => 'form-control' %>
    </div>
    <%=f.error_span(:content) %>
  </div>


  <div class="form-group">
  <label class="control-label col-lg-2">File</label>
    <div class="col-lg-4">
        <%= f.file_field :banner,:class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Languange', :class => 'control-label col-lg-2' %>
    <div class="col-lg-8 col-xs-12">
      <%= f.select :lang,[['English','english'], ['Bahasa', 'bahasa']], class:'form-control'%>
    </div>
    <%=f.error_span(:content) %>
  </div>

  <div class="form-group">
    <%= f.label 'Press Release', :class => 'control-label col-lg-2' %>
    <div class="col-lg-8 col-xs-12">
      <%= f.select :press,[['True','true'], ['False', 'false']], class:'form-control'%>
    </div>
    <%=f.error_span(:press) %>
  </div>

  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:author_id, Author.all ,:id,:name, include_blank: 'None', class:'form-control') %>
    </div>
    <%=f.error_span(:author_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_blogs_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
