<%= content_for(:title, "EV Hive | Check out our blogs ") %>
<section>
	<div class="jumbo-small bg-blog"></div>
</section>

<div class="container">
  <!-- <h1 class="text-center">Blogs</h1>
  <p class="text-center" style="padding:10px 0">We are community of like minded startup enthusiast. And this is some of our thoughts</p> -->
  <div class="row">
    <!-- Tile for blog -->
    <% @blogs.each do |blog| %>
      <% if blog == @blogs.first%>
        <div class="col-md-12 col-xs-12 latest-blog">
          <%= link_to blog_path(blog) do%>
          <div class="blog-header" style="background-image:linear-gradient(180deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('<%= blog.banner.url(:original) %>')">
            <div class="col-md-8">
              <div class="blog-header-text">
                <h1><%= blog.title %></h1>
                <p><%= blog.created_at.strftime("%d %b %Y") %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% else %>
      <div class="col-md-4 col-xs-12 blogs">
        <%= link_to blog_path(blog) do%>
        <div class="blog-card">
          <%= image_tag blog.banner.url(:original), :class => 'blog-image' %>
          <div class="blog-info text-center">
            <h5><%= blog.title %></h5>
            <p><%= blog.created_at.strftime("%d %b %Y") %></p>
          </div>
        </div>
        <% end %>
        <%#= link_to "Read More", blog_path(blog),:class => "btn btn1"%>
      </div>
      <% end %>
    <% end %>
    <!-- end for blog-->
  </div>
</div>
