<%= content_for(:title, @blog.title ) %>
<div class="container m20 ptop">
  <div class="row">
    <!-- blog show -->
    <div class="col-md-offset-2 col-md-8 col-xs-12">
      <h1><%= @blog.title %></h1>
      <p style="color:#898989;"><%= @blog.created_at.strftime("%d %B %Y")%></p>
      <%#= social_share_button_tag(@blog.title) %>
      <div class="share">
        <ul class="list-inline">
          <li class="fb-share-button" data-href="<%=url_for(:only_path => false)%>" data-layout="button_count" data-size="small" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
          </li>
          <li>
            <%= twitter_button%>
          </li>
          <li>
            <%= linkedin_button%>
          </li>
        </ul>
      </div>
      
      <%= image_tag @blog.banner.url(:original), :class => 'blog-banner' %>
      <p><%= raw @blog.content %></p>
      <p>Category: <%=raw tag_links(@blog.all_tags)%></p>
    </div>
  </div>

  <!--Related Blogs-->
  <div class="row">
    <div class="col-md-offset-2 col-md-8 ptop">
      <h4>Related Blogs:</h4>
      <% @related.last(5).each do|blog|%>
        <%= link_to blog_path(blog) do %>
          <p><%= blog.title %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <!--end of related blogs-->

  <!--Author box-->
  <% if @blog.author%>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 ptop">
      <h4>About Author</h4>
      <hr/>
      <div class="row">
      <div class="col-md-3 no-gutter col-xs-12" align="center">  
        <p><%= image_tag @blog.author.avatar.url(:thumb)%></p>
        <a href='mailto:<%= @blog.author.email %>'><i class="fa fa-paper-plane-o"></i></a>
      </div>
      <div class="col-md-9 col-xs-12">
        <h4><%= @blog.author.name%></h4>
        <p><%= @blog.author.try(:about).html_safe%></p>
      </div>
      </div>
      <hr/>
    </div>
  </div>
  <% end %>
  <!--End of author box-->

  <div id="form" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact Us</h4>
        </div>
        <div class="modal-body">
          <%= render 'enquiries/form' %>
        </div>
    </div>
  </div>
  
</div>
</div>

