<!-- Begin MailChimp Signup Form -->
<style type="text/css">
	/*#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }*/
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	  #mc_embed_signup{background:transparent;}
		#mc-embedded-subscribe{margin:0;display:inline;}
		#mc_embed_signup .form-footer .mc-field-group{display:inline;}
		#mc_embed_signup  form.form-footer{padding:0;}

		/*set input width and position*/
		#mc_embed_signup .form-footer input{
			border-radius:0;
			display:inline-block;
		}
		#mc_embed_signup .form-footer  input.email{
				width:70%;
		}
		.form-footer .clear{
			display:inline-block;
		}

		@media only screen and (max-width:768px){
			#mc_embed_signup form.form-footer{
				padding-left: 5%;
    		padding-right: 5%;
			}
			
			#mc_embed_signup .form-footer input.email{
				display:block;
				width:100%;
			}

			.form-footer .clear{
				display:block;
			}
			#mc_embed_signup .form-footer input[type="submit"]{
				border-radius:0;
				display:block;
				width:100%;
				
			}

		}
</style>
<div id="mc_embed_signup">
	<form action="//evhive.us12.list-manage.com/subscribe/post?u=736721bf8ee04dc83e368d2d0&amp;id=e11c5ac1ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-footer" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			
			<div class="mc-field-group">
				<!--<label for="mce-EMAIL"></label>-->
				<input type="email" value="" name="EMAIL" class="required email" placeholder="Your email address" id="mce-EMAIL">	
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_736721bf8ee04dc83e368d2d0_e11c5ac1ce" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn1"></div>
		</div>
	</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
<script>
	$(document).ready(function(){
		$("#mc_embed_signup input").matchHeight(false);
	});
</script>