<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="/managers/" class="simple-text">
      Administrator
    </a>
  </div>
  <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="<%= 'active' if current_page?(managers_root_path) %>">
                <a href="/managers/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_plans_path) %>">
                <a href="/managers/plans">
                    <i class="material-icons">event_seat</i>
                    <p>Plan</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_enquiries_path) %>">
                <a href="/managers/enquiries">
                    <i class="material-icons">message</i>
                    <p>Enquiry</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_authors_path) %>">
                <a href="/managers/authors">
                  <i class="material-icons">create</i>
                  <p>Author</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_blogs_path) %>">
                <a href="/managers/blogs">
                    <i class="material-icons">note_add</i>
                    <p>Blog</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_events_path) %>">
                <a href="/managers/events">
                    <i class="material-icons">date_range</i>
                    <p>Event</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_rooms_path) %>">
                <a href="/managers/rooms">
                    <i class="material-icons">home</i>
                    <p>Rooms</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_buildings_path) %>">
                <a href="/managers/buildings">
                  <i class="material-icons">account_balance</i>
                  <p>Building</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_schedules_path) %>">
                <a href="/managers/schedules">
                  <i class="material-icons">class</i>
                  <p>Schedules</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_careers_path) %>">
                <a href="/managers/careers">
                  <i class="material-icons">work</i>
                  <p>Career</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_evhive_classes_path) %>">
                <a href="/managers/evhive_classes">
                  <i class="material-icons">school</i>
                  <p>Classes</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_evhive_connects_path) %>">
                <a href="/managers/evhive_connects">
                  <i class="material-icons">group</i>
                  <p>Connect</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_promos_path) %>">
                <a href="/managers/promos">
                  <i class="material-icons">loyalty</i>
                  <p>Promotion</p>
                </a>
            </li>
            <li class="<%= 'active' if current_page?(managers_payments_path) %>">
                <a href="/managers/payments">
                  <i class="material-icons">payment</i>
                  <p>Payment Method</p>
                </a>
            </li>
            <li>
              <%= link_to "Sign out", destroy_manager_session_path, :method => :delete , :class => "btn btn-danger" %>
            </li>
        </ul>
  </div>
</div>
