<nav class="navbar navbar-default navbar-fixed-top navbar-justified">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="phone-header" align="center">
        <a href="tel:+6287871111880" onclick="ga('send','event','Click','Call Now');"><i class="fa fa-phone"></i> Call +62 8787 1111 880</a>
      </div>
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/home/img/logo/evhive_white.png" width="105" height="35" alt="EV Hive is a Coworking Space Jakarta Indonesia">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= active_class(buildings_path)%>"><%= link_to "Locations", buildings_path %></li>
        <li class="<%= active_class(plans_path)%>"><%= link_to "Plans", plans_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spaces <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="<%= active_class(meeting_room_path)%>"><%= link_to "Meeting Room", meeting_room_path %></li>
            <li class="<%= active_class(event_space_path)%>"><%= link_to "Event Space", event_space_path %></li>
            <li class="<%= active_class(creative_studio_path)%>"><%= link_to "Creative Studio", creative_studio_path %></li>
          </ul>
        </li>
        <li class="<%= active_class(about_path)%>"><%= link_to "Why EV Hive", about_path%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="<%= active_class(id_blogs_path)%>"><%= link_to "Bahasa", id_blogs_path %></li>
            <li class="<%= active_class(blogs_path)%>"><%= link_to "English", blogs_path %></li>
            <li class="<%= active_class(press_path)%>"><%= link_to "Press Release", press_path %></li>
          </ul>
        </li>
        <li class="<%= active_class(events_path)%>"> <%= link_to "Events", events_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="<%= active_class(student_ambassador_path)%>"><%= link_to "Student Ambassador", student_ambassador_path %></li>
            <li class="<%= active_class(schoolpreneurs_path)%>"><%= link_to "EV Hive Schoolpreneur", schoolpreneurs_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li><p><%= link_to "dashboard", dashboard_index_path, :class => "btn btn1 navbar-btn" %></p></li>
          <li><p><%= link_to "Sign out", destroy_user_session_path, :method => :delete , :class => "btn btn-transparent navbar-btn" %></p></li>
        <% else %>
          <li><p><a href="https://portal.evhive.co/login" rel="nofollow" class="btn btn-transparent navbar-btn">Sign In</a><%#= link_to "Sign in", new_user_session_path, :class => "btn btn-transparent navbar-btn" %></p></li>
        <% end %>
      </ul>
  </div>
  
  </div><!-- /.container-fluid -->
  <div class="full-container">
    <div class="web-header" align="center">
      <p>We are expanding and rebranding to CoHive, <a href="https://cohive.space">click here</a> to see our brand new website</p>
    </div>
  </div>
  
</nav>


<script type="text/javascript">
  $(document).ready(function(){
    $(window).on("scroll",function(){
      var display = $(window).scrollTop();
      var navHeight = $("nav").height();
      if(display > navHeight){
        $(".navbar-fixed-top").css({'background-color':'black',
                                         "font-size":"14px"
                                       });
         } 
      else {
        $('.navbar-fixed-top').css({'background-color':'rgba(0,0,0,0.5)',
                                         "font-size":"14px"
                                       });
        }
    });

    $("button.navbar-toggle").on("click", function(){
      $("nav.navbar").toggleClass("black");
    });
  
    $('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
  });
</script>
