<div class="container-fluid">
  <div class="row">
    <%- model_class = Room -%>
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:id) %></th>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:building_id) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @rooms.each do |room| %>
              <tr>
                <td><%= link_to room.id, managers_room_path(room) %></td>
                <td><%= room.name %></td>
                <td><%= room.building.name %></td>
                <td>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_managers_room_path(room), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              managers_room_path(room),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

            <%= link_to t('.new', :default => t("helpers.links.new")),
                        new_managers_room_path,
                        :class => 'btn btn-success btn-block' %>
      </div>
    </div>


  </div>
</div>
