<%= form_for [:managers,@partner], :html => { :class => "form-horizontal event", multipart: true  } do |f| %>
  <% if @partner.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@partner.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @partner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.cktext_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :facebook, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :facebook, :class => 'form-control' %>
    </div>
    <%=f.error_span(:facebook) %>
  </div>

  <div class="form-group">
    <%= f.label :twitter, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :twitter, :class => 'form-control' %>
    </div>
    <%=f.error_span(:twitter) %>
  </div>

  <div class="form-group">
    <%= f.label :instagram, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :instagram, :class => 'form-control' %>
    </div>
    <%=f.error_span(:instagram) %>
  </div>

  <div class="form-group">
    <%= f.label :website, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :website, :class => 'form-control' %>
    </div>
    <%=f.error_span(:website) %>
  </div>

  
  
  <div class="form-group">
    <%= f.label :logo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.file_field :logo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-md-4">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_partners_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
