<div class="jumbo-small gradient ptop">
  <h3 class="centerer"><%= @partner.name%></h3>
</div>

<div class="container ptop pbottom">
  <div class="row">
    <div class="col-md-4">
      <p class="text-center"><%= image_tag(@partner.logo.url(:thumb)) %></p>
      <ul class="list-inline text-center">
        <% if @partner.facebook? %>
        <li>
          <a href="<%= @partner.facebook %>" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>  
        </li>
        <% end %>
        <% if @partner.twitter? %>
        <li>
          <a href="<%= @partner.twitter %>" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>  
        </li>
        <% end %>
        <% if @partner.instagram? %>
        <li>
          <a href="<%= @partner.instagram %>" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>  
        </li>
        <% end %>
        <% if @partner.website?%>
        <li>
          <a href="<%= @partner.website %>" target="_blank"><i class="fa fa-globe fa-lg"></i></a>  
        </li>
        <% end %>
      </ul>
      
    </div>
    <div class="col-md-8 ptop1">
      <p><%= @partner.try(:description).html_safe %></p>
    </div>
  </div>
</div>

<div class="container ptop">
  <h3 class="text-center pbottom"> Classes by <%= @partner.name %></h3>
  <div class="row">
    <% @evhive_classes.each do|classes|%>
    <div class="col-md-4 classes">
      <%= link_to schoolpreneur_path(classes) do%>
      <div class="thumbnail">
        <%= image_tag (classes.image.url(:original))%>
        <div class="caption">
          <h5><%= classes.name %></h5>
        </div>
      </div>
      <% end %>
    </div>
  <%end%>
  </div>
</div>

