<div class="jumbo-small gradient">
  <div class="container">
  <div class="row ptop">
    <div class="col-md-8 col-xs-12">
      <ul class="list-inline">
        <li>
          <%= image_tag (@evhive_class.partner.logo.url(:thumb)), :class => "img-thumbnail"%>
        </li>
        <li>
          <h4><%= @evhive_class.name%></h4>
          <p>Instructor with <%= @evhive_class.instructor%> (<%= link_to partner_path(@evhive_class.partner) do %> <%= @evhive_class.partner.name%> <% end %>)</p>
        </li>
        
      </ul>
      
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>Description</h4>
      <p class="text-justify"><%= @evhive_class.try(:description).html_safe %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>What You Will Learn</h4>
      <p><%= @evhive_class.try(:get).html_safe %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>Requirements</h4>
      <p><%= @evhive_class.try(:need).html_safe %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>Price</h4>
      <p><%= @evhive_class.try(:price).html_safe %></p>
      <%# if @evhive_class.price.to_i.to_s.length < 5%>
        <!--<p><%#= number_to_currency(@evhive_class.price, :unit => "$")%></p>
      <% else %>
        <p><%#= number_to_currency(@evhive_class.price, :unit => "IDR")%></p>-->
      <%# end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>Price Included</h4>
      <p><%= @evhive_class.included%></p>
    </div>
  </div>
  
  <% if @evhive_class.agenda? %>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>Agenda</h4>
      <p><%= @evhive_class.try(:agenda).html_safe %></p>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>Location</h4>
      <p><%= @evhive_class.location%></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 pbottom col-xs-12 register">
      <% if @evhive_class.link? %>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#eventbrite">Book Now</button>
      <% end %>
    </div>
  </div>
</div>

<div id="eventbrite" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @evhive_class.name%></h4>
      </div>
      <div class="modal-body">
        <div id="eventbrite" style="width:100%; text-align:left;"><iframe src="<%= @evhive_class.link%>" frameborder="0" height="275" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
      </div>
    </div>

  </div>
</div>
