<!--<p id="notice"><%#= notice %></p>-->
<section>
  <div class="jumbotron bg-connect">
    <div class="container">
      <p class="text-center animated rotateIn"><img src="/assets/home/img/connect/evhiveconnect.png" alt="ev hive connect"></p>
      <h2 class="text-center">All startups need to grow, so does yours.</h2>
      <p class="text-center">EV Hive invites you and other startups to help one another by joining EV HIVE CONNECT</p>
      <div class="text-center">
        <a href="#" class="btn btn-transparent">Get Connect Now</a>
      </div>
    </div>
    
  </div>
</section>

<div class="container">
  <div class="row ptop">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="text-center">What is EV Hive Connect?</h4>
      <p>
        EV Hive Connect is a platform to connect any startups to make collaborations, fulfill their needs and solve their problems. All startups need a network to grow. As one of the largest co-working spaces in Indonesia, we want to create value for all startups by enabling our community of startups to help one another.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row ptop1 pbottom">
    <div class="col-md-8 col-md-offset-2">
      <p>By joining EV Hive Connect, you will get:</p>
      <div class="col-md-6">
        <p class="text-center"><i class="fa fa-share-alt fa-3x font-gold"></i></p>
        <h5 class="text-center">Connected with our partners</h5>
        <p class="text-justify">Gain numerous partners and colleagues whether in the same or other related fields.</p>
      </div>
      <div class="col-md-6">
        <p class="text-center"><i class="fa fa-globe fa-3x font-gold"></i></p>
        <h5 class="text-center">Diverse Network</h5>
        <p class="text-justify">Diversify your network with our community startups from various fields. Build networks that you need and it will help you find the solution for your startup needs.</p>
      </div>
      <div class="col-md-6">
        <p class="text-center"><i class="fa fa-user-plus fa-3x font-gold"></i></p>
        <h5 class="text-center">Find Clients</h5>
        <p class="text-justify">Bring something to the table that other startups need. By offering others your strengths and pros, other startups will build trust in you, and would be a potential partner.</p>
      </div>
      <div class="col-md-6">
        <p class="text-center"><i class="fa fa-users fa-3x font-gold"></i></p>
        <h5 class="text-center">Engage with Like-minded People</h5>
        <p class="text-justify">If you surround yourself with people who shares similar interests, you are making an improvement to yourself and your capabilities.</p>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    <h4 class="text-center">Get Connected with Our Partners</h4>
    <div class="col-md-8 col-md-offset-2 ptop pbottom">
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-balance-scale fa-3x"></i>
          <h5>Legal</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-calculator fa-3x"></i>
          <h5>Accounting</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-money fa-3x"></i>
          <h5>Expenses Management</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-user fa-3x"></i>
          <h5>Human Resources</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-code fa-3x"></i>
          <h5>Tech Community</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-credit-card fa-3x"></i>
          <h5>Payment Gateway</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-lightbulb-o fa-3x"></i>
          <h5>Innovators</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="thumbnail partner-card text-center">
          <i class="fa fa-building-o fa-3x"></i>
          <h5>Infrastructure</h5>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    <h4 class="text-center pbottom">Connect With Us</h4>
    <div class="col-md-8 col-md-offset-2">
      <%= render 'form' %>
    </div>
  </div>
</div>

<!--<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Startup</th>
      <th>Need</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @evhive_connects.each do |evhive_connect| %>
      <tr>
        <td><%#= evhive_connect.name %></td>
        <td><%#= evhive_connect.email %></td>
        <td><%#= evhive_connect.startup %></td>
        <td><%#= evhive_connect.need %></td>
        <td><%#= link_to 'Show', evhive_connect %></td>
        <td><%#= link_to 'Edit', edit_evhive_connect_path(evhive_connect) %></td>
        <td><%#= link_to 'Destroy', evhive_connect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>-->

<br>

<%#= link_to 'New Evhive connect', new_evhive_connect_path %>
