<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evhive_connect.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @evhive_connect.email %>
</p>

<p>
  <strong>Startup:</strong>
  <%= @evhive_connect.startup %>
</p>

<p>
  <strong>Need:</strong>
  <%= @evhive_connect.need %>
</p>

<%= link_to 'Edit', edit_evhive_connect_path(@evhive_connect) %> |
<%= link_to 'Back', evhive_connects_path %>
