<%= content_for(:title, "EV Hive | Check out our events ") %>
<section>
	<div class="jumbo-small bg-event"></div>
</section>

<div class="container m20">
  <div class="row">
    <!--Past events-->
    <div class="col-lg-12">
      <h1 class="text-center">Past Events</h1>
      <hr>
      <%= render partial: 'events/navigation'%>
    </div>
    <% @pasts.each do |event| %>
        <div class="col-md-4 col-xs-12 events">
          <%= link_to(event) do%>
          <div class="event-card">
            <%= image_tag event.banner.url(:original), :class => 'event-image responsive' %>
          </div>
          <% end %>
        </div>
      
    <% end %>
  </div>
</div>
<!-- list attribute: date , title description -->
