<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Welcome <b><%= current_manager.fullname %></b> | Location: <b><%= current_manager.building.try(:name) %></b>
        </div>
        <div class="card-content">
          <p>Welcome To Administrator Area</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <p>360dashboard to manage all your needs for your coworking spaces.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
          <i class="material-icons">store</i>
        </div>
        <div class="card-content">
          <p class="category">Transaction</p>
          <% if !current_manager.building_id.nil? %>
          <h3 class="title"><%= Subscription.where('building_id = ? and paid is null', current_manager.building_id).count %> </h3>
          <% end %>
        </div>
        <div class="card-footer">
          <div class="stats">
            <%= link_to  'View Transaction', managers_report_index_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">content_copy</i>
        </div>
        <div class="card-content">
          <p class="category">Plans</p>
          <h3 class="title"> <%= Plan.where('building_id = ?', current_manager.building_id).count %> </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <%= link_to 'View Plan', managers_plans_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">info_outline</i>
        </div>
        <div class="card-content">
          <p class="category">Rooms</p>
          <h3 class="title"><%= Room.where('building_id = ?', current_manager.building_id).count %> </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <%= link_to 'View Rooms', managers_rooms_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="card-content">
          <p class="category">Users</p>
          <h3 class="title">-</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            Just Updated
          </div>
        </div>
      </div>
    </div>

	</div>

</div>
