<%= form_for [:managers,@career], :html => { :class => "form-horizontal event", multipart: true  } do |f| %>

    <% if @career.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@career.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @career.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-md-8 col-xs-12">
      <%= f.cktext_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :requirement, :class => 'control-label col-lg-2' %>
    <div class="col-md-8 col-xs-12">
      <%= f.cktext_area :requirement, :class => 'form-control' %>
    </div>
    <%= f.error_span(:requirement) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-md-4">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_careers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

