<div class="jumbo-career">
  <h1 class="text-center">Let's Work Together</h1>
</div>
<div class="container ptop pbottom">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="s28b">We have <%= @careers.length %> Job Openings</p>
      <hr>
    </div>
  </div>
  <div class="row">
  <% @careers.each do|career|%>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default jobs">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <h6>Full Time</h6>
              <h3><%= career.title %></h3>
              <p><i class="fa fa-map-marker"></i> Jakarta</p>
              <p><small>Posted on <%= career.created_at.strftime("%d %B %Y") %></small></p>
              <!--<div class="job-action">
                <%#= link_to "Details", career_path(career), :class => "btn btn1"%>
              </div>-->
            </div>
            <div class="col-sm-12 col-md-2 col-md-offset-2 job-action">
              <%= link_to "Details", career_path(career), :class => "btn btn1"%>
            </div>
          </div>
        </div>   
      </div>
    </div>
  <% end %>
  </div>
</div>

<!--<p id="notice"><%= notice %></p>

<h1>Listing Careers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Requirement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%#= career.title %></td>
        <td><%#= career.description %></td>
        <td><%#= career.requirement %></td>
        <td><%#= link_to 'Show', career %></td>
        <td><%#= link_to 'Edit', edit_career_path(career) %></td>
        <td><%#= link_to 'Destroy', career, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<%#= link_to 'New Career', new_career_path %>  
