<div class="container">
    <div class="row ptop pbottom">
      <div class="col-md-8 col-md-offset-1">
        <h3><%= @career.title%></h3>
        <p><i class="fa fa-clock-o"></i> Full Time</p>
        <p><i class="fa fa-map-marker"></i> Jakarta</p>
        <hr>
        <div class="job-description">
          <h4>Job Description</h4>
          <p>
            <%= @career.try(:description).html_safe %>
          </p>
        </div>
        <div class="job-requirement">
          <h4>Job Requirement</h4>
          <p>
            <%= @career.try(:requirement).html_safe %>
          </p>
        </div>
      </div>
      <div class="col-md-3 apply-action">
        <p class='text-center'><a href="#" class="btn btn-warning">Apply this position</a></p>
      </div>
    </div>
  </div>

<!--<p id="notice"><%#= notice %></p>

<p>
  <strong>Title:</strong>
  <%#= @career.title %>
</p>

<p>
  <strong>Description:</strong>
  <%#= @career.description %>
</p>

<p>
  <strong>Requirement:</strong>
  <#%= @career.requirement %>
</p>

<%#= link_to 'Edit', edit_career_path(@career) %> |
<%#= link_to 'Back', careers_path %>-->
