<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title">Enquiry</h4>
      </div>

      <div class="card-content table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Building</th>
              <th>Enquiry</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @enquiries.each do |enquiry| %>
              <tr>
                <td><%= enquiry.name %></td>
                <td><%= enquiry.phone %></td>
                <td><%= enquiry.email %></td>
                <td><%= enquiry.building.try(:name) %></td>
                <td> <%= enquiry.enquiry %> </td>
                <td> <%= enquiry.created_at %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    </div>
  </div>
  </div>
</div>
