<div class="container ptop m20">
  <div class="row">
    <div class="col-md-12">
      <% @building.each do |building| %>
        <div class="col-md-4">
          <div class="wrapper-building">
            <div class="building-image overlay">
              <h3 class="building-name"><%= building.name %></h3>
              <%= image_tag building.image.url(:original), :class => "img-responsive" %>
            </div>
            <div class="panel panel-success rooms">
              <div class="panel-heading">
                <p class="panel-title">
                  <a data-toggle="collapse" href="#collapse<%= building.id %>">List Meeting Rooms <span class="badge"> <%= building.rooms.count %> </span></a>
                </p>
              </div>
              <div id="collapse<%= building.id %>" class="panel-collapse collapse">
                <ul class="list-group">
                  <% building.rooms.each do |room| %>
                    <li class="list-group-item room"><%= room.name %>
                      <%= link_to "Book", new_schedule_path(:room_id => room.id),:class => "btn btn-transparent btn-sm pull-right" %>
                      <%= link_to "Schedule", detail_path(:room_id => room.id),:class => "btn btn1 btn-sm pull-right"%>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".building-image img").matchHeight(false);
  });
</script>