 <div class="owl-carousel owl-theme event-slider">
    <% @futures.last(5).each do |event|%>
      <div class="item">
      <%= link_to(event) do %>
        <%= image_tag event.banner.url(:original), :class => "img-responsive"%>
        <div class="overlay-image">
        </div>
      <% end %>  
      </div>
    <% end %>
</div>

  

<!--<div class="col-md-3 col-xs-12 no-gutter">
    <%#= link_to(event) do %>
    <%#= image_tag event.banner.url(:original), :class => "img-responsive"%>
    <div class="overlay-image">
      <h4><%#= event.title %></h4>
    </div>
    <%# end %>
  </div>-->