<section>
	<div class="jumbo-small bg-about"></div>
</section>

<section>
	<div class="container-fluid">
		<img src="/assets/home/img/header/why_cowork.png" alt="" width="100%">
	</div>
	<div class="container ptop pbottom">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-push-6">
				<img src="/assets/home/img/all/whycowork1.jpg" width="100%" alt="">
			</div>
			<div class="col-xs-12 col-md-6 col-md-pull-6">
				<h3 class="title-header"><img src="/assets/home/img/icon/Professional.png" width="40" alt=""> Professional Surroundings</h3>
				<hr class="line-left line-black">
				<p class="text-justify">
					Why sit all alone at home or work in cubicles when you can work amongst productive people of all backgrounds? Increase your insights and acquire new inspirations. Mingle with other coworkers and take a break whenever you feel like taking one. Inspire and be inspired by the people around you.
				</p>
				<%= link_to "Book Now", plans_path, class:'btn btn1', :onclick => "ga('send','event','Click','Book Now');"%>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid bg-lightgrey">
		<div class="container">
			<div class="row ptop pbottom">
				<div class="col-md-6">
					<img src="/assets/home/img/all/whycowork2.jpg" alt="" width="100%">
				</div>
				<div class="col-md-6">
					<h3 class="title-header text-right"><img src="/assets/home/img/icon/build_network.png" width="40" alt=""> Build Your Network</h3>
					<hr class="line-right line-black">
					<p class="text-justify">
						Collaboration is the key to all successful stories, networking is organic when the connection is not forced upon. In our coworking spaces, you will never know who you’ll encounter everyday. With an open space concept, the option of networking is not forced upon but merely a choice. You will not want to miss our events that range from self-enriching workshops to Game of Throne viewing nights.
					</p>
					<p class="text-right"><%= link_to "Book Now", plans_path, class:'btn btn1', :onclick => "ga('send','event','Click','Book Now');"%></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div class="container">
			<div class="container ptop pbottom">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-push-6">
						<img src="/assets/home/img/all/whycowork3.jpg" width="100%" alt="">
					</div>

					<div class="col-xs-12 col-md-6 col-md-pull-6">
						<h3 class="title-header"><img src="/assets/home/img/icon/affordable.png" width="40" alt=""> Affordable</h3>
						<hr class="line-left line-black">
						<p class="text-justify">
							Building your own startup or managing your ongoing company is already as difficult as it is, let us help you take one burden off by offering you an affordable and flexible price plan for all your needs. You don’t have to worry about additional fees when printing, beverages, and high-speed internet is part of the packaged deal. 
						</p>
						<%= link_to "Book Now", plans_path, class:'btn btn1', :onclick => "ga('send','event','Click','Book Now');"%>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid bg-lightgrey">
		<div class="container">
			<div class="row ptop pbottom">
				<div class="col-md-6">
					<img src="/assets/home/img/all/whycowork4.jpg" alt="" width="100%">
				</div>
				<div class="col-md-6">
					<h3 class="title-header text-right"><img src="/assets/home/img/icon/environment.png" width="40" alt=""> Environment</h3>
					<hr class="line-right line-black">
					<p class="text-justify">
						A burn out is unavoidable when you are stuck in a boring routine. Make everyday a different day by working in EV Hive! With a young and dynamic vibe, you will never feel bored or trapped. With desk chairs, bean bags, long desks and even quiet rooms for self-thinking, comfort should be our middle name. Open concepts and barrier-less workspaces provides a better productivity for your daily tasks. 
					</p>
					<p class="text-right"><%= link_to "Book Now", plans_path, class:'btn btn1', :onclick => "ga('send','event','Click','Book Now');"%></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid no-gutter">
    <img src="/assets/home/img/header/Happening.png" alt="" width="100%">
  </div>

	<div class="container">
		<div class="gallery">
			<div class="row">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<a href="/assets/home/img/gallery/Event1.jpg" data-title="Join our bunch of workshops, events and classes for an environment that will invigorate your team every day." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event1.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Event2.jpg" data-title="End your work-day to gain more insights and knowledge about Technology, Arts, Fin-tech and much more. We hold events with speakers who are masters in their fields." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event2.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Event3.jpg" data-title="No time for the gym? EV Hive loves to partner up with Ride Jakarta to give you the feel of WORK-ing out after your busy day" data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event3.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Event4.jpg" data-title="You will benefit from a diverse and global community that provides guidance, resources, and opportunities shared between all EV Hive members." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event4.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Event5.jpg" data-title="Meet and connect with new potential collaborators and share private discussions with our speakers for a better understanding of the workshop." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event5.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Event6.jpg" data-title="Share private discussions with our speakers for a better understanding of the workshop." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event6.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Event7.jpg" data-title="A few months ago, Djarot visited our JSC space and gave us words that makes our coworking space a place worthy of admiration." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event7.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Event8.jpg" data-title="Our members are welcome to host an event in one of our flexible event spaces. Share your passion and let our members be inspired!" data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Event8.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Space1.jpg" data-title="Breath in our open-air natural lighting spaces that give you the touch of a modern coworking environment." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Space1.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Space2.jpg" data-title="EV Hive is a place where anyone can rent a comfortable space to work in, with an opportunity for collaboration with members of different companies and projects." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Space2.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Space3.jpg" data-title="Our interior, service, and facilities will surely satisfy your coworking game! With strategic locations, it is accessible for you and your coworkers." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Space3.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
					<div class="item">
						<a href="/assets/home/img/gallery/Space4.jpg" data-title="With our fun working environment, you will find yourself enjoying your time while finishing off your tasks and responsibilities." data-lightbox="gallery">
							<img src="/assets/home/img/gallery/Space4.jpg" height="200" class="img-thumbnail">
						</a>
					</div>
				</div><!--end of slider-->
			</div>
		</div>
	</div>
	 <%= javascript_include_tag 'application'%>
</section>

<section>
	<div class="container-fluid bg-lightgrey">
		<h3 class="text-center">Our Space Supported By</h3>
		<div class="container">
			<div class="sponsors">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<img src="/assets/home/img/sponsors/bookabuku.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/bwi.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/campina.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/cisco.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/docco.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/hobo.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/holycozy.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/lemonilo.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/magnet.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/Osakamoo.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/perfect health.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/Prost.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/Redbull.png"  width="150">
					</div>
					<div class="item">
						<img src="/assets/home/img/sponsors/Sekopi.png"  width="150">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	/*$('.gallery a').lightBox({
    fixedNavigation: true,
		resizeDuration: 200,
      wrapAround: true,
			fitImagesInViewport:true,
			alwaysShowNavOnTouchDevices:true
	});*/
	$(document).ready(function(){
		$(".gallery .owl-carousel").owlCarousel({
			itemsDesktop : [1199,3],
      itemsDesktopSmall : [980,2],
      itemsTablet: [768,1],
      itemsTabletSmall: false,
      itemsMobile : [479,1],
      autoPlay:5000,
      items:3,
      navigation:true
    });

		$(".sponsors .owl-carousel").owlCarousel({
			itemsDesktop : [1199,6],
      itemsDesktopSmall : [980,5],
      itemsTablet: [768,2],
      itemsTabletSmall: false,
      itemsMobile : [479,2],
			navigation:false,
			autoPlay:3000,
			items: 6
		});
	});
</script>