<div class="container m20">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p>
        <b>EV Hive Privacy Policy</b>
        <br></br>
        This Privacy Policy applies to all of the products, services and websites offered by EV Hive  Sometimes, we may post product specific privacy notices to explain our products in more detail.
        If you have any questions about this Privacy Policy, please feel free to contact us at info@evhive.co
        Information we collect and how we use it
        We may collect the following types of information:
        Information you provide – When you sign up in our products, we ask you for personal information, such as name, email or zip code. We may combine the information you submit to provide you with a better experience and to improve the quality of our products.
        Location data – We offers location-enabled services and products. If you use those services or products, EV Hive may receive information about your actual location or information that can be used to approximate a location.
        Crash and usage data – If you use our android products, EV Hive may receive anonymous crash and usage data of your android device and apps.
        Other sites – This Privacy Policy applies to EV Hive services, products and websites only.
        <br></br>

        In addition to the above, we may use the information we collect to:
        Provide, maintain, protect, and improve our services and develop new services; and
        Protect the rights or property of INFOLIFE or our users.
        <br></br>


        If we use this information in a manner different than the purpose for which it was collected, then we will ask for your consent prior to such use.
        EV Hive processes personal information on our servers in the United States of America and in other countries. In some cases, we process personal information outside your own country.
        <br></br>


        Information sharing<br></br>
        EV Hive  only shares personal information with other companies or individuals outside of EV Hive in the following limited circumstances:
        We have your consent. We require opt-in consent for the sharing of any sensitive personal information.
        We provide such information to our subsidiaries, affiliated companies or other trusted businesses or persons for the purpose of processing personal information on our behalf. We require that these parties agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.
        We have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, (b) enforce applicable Terms of Service, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, or (d) protect against harm to the rights, property or safety of EV Hive , its users or the public as required or permitted by law.
        If EV Hive  becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will ensure the confidentiality of any personal information involved in such transactions and provide notice before personal information is transferred and becomes subject to a different privacy policy.
        Information security
        We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to systems where we store personal data.
        <br></br>


        We restrict access to personal information to employees, contractors and agents who need to know that information in order to process it on our behalf. These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations.
        <br></br>


        Changes to this Privacy Policy<br></br>
        Please note that this Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any Privacy Policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of Privacy Policy changes).
        <br></br>

        Last version<br></br>
        © EV Hive
      </p>
    </div>

  </div>
</div>
