<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js">

<!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<div class="container m20 ptop">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h4>Thank You</h4>
        </div>
        <div class="panel-body">
          Thank you for your purchased.
          <br><br>
          Our system will process your request. If you need any further information,
          <br>
          you may contact us at info@evhive.co
          <br>
          <br>
          <i>EV Hive</i><br>
          <i>Management</i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Google Code for Thank You Page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 859346786;
var google_conversion_label = "smZ0CImapHkQ4q7imQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/859346786/?label=smZ0CImapHkQ4q7imQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83640258-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-83640258-1');
</script>