<%= form_for [:managers,@event], :html => { :class => "form-horizontal event", multipart: true  } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-md-4 col-xs-12">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-md-8 col-xs-12">
      <%= f.cktext_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-md-4">
      <%= f.date_field :date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date) %>
  </div>

  <div class="form-group">
    <%= f.label "Eventbrite Link", :class => 'control-label col-lg-2' %>
    <div class="col-md-4">
      <%= f.text_field :link, :class => 'form-control' %>
    </div>
    <%=f.error_span(:link) %>
  </div>

  <div class="form-group">
    <%= f.label "Loket Link", :class => 'control-label col-lg-2' %>
    <div class="col-md-4">
      <%= f.text_field :loket_link, :class => 'form-control' %>
    </div>
    <%=f.error_span(:loket_link) %>
  </div>

  <div class="form-group">
  <label class="control-label col-lg-2">File</label>
    <div class="col-md-4">
        <%= f.file_field :banner,:class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-md-4">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                managers_events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
