<%= content_for(:title, "Startup Events, Workshop, Seminar & Meetup Calendar in Jakarta | EV Hive") %>
<section>
	<div class="jumbo-small bg-event"></div>
</section>

<div class="container m20">
  <div class="row">
    
    <!--Upcoming events-->
    <div class="col-lg-12">
      <h1 class="text-center">Upcoming Events</h1>
      <hr>
      <%= render partial: 'navigation'%>
      
    </div>
    <% if @futures.count != 0 %>
    <% @futures.each do |event| %>
        <div class="col-md-4 col-xs-12 events">
          <%= link_to(event) do%>
          <div class="event-card">
            <%= image_tag event.banner.url(:original), :class => 'event-image responsive' %>
          </div>
          <% end %>
        </div>
      
    <% end %>
    <%else%>
      <p class="text-center lead"><i>Sorry there is no upcoming event yet</i></p>
    <% end %>
</div>
</div>
<!-- list attribute: date , title description -->
