<%= content_for(:title, "EV Hive | "+@event.title) %>
<div class="container m20 ptop">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-12">
      <%- model_class = Event -%>
      <div class="event-header">
        <h1><%#=t '.title', :default => model_class.model_name.human.titleize %></h1>
        <%= image_tag(@event.banner.url(:original))%>
      </div>

      <div class="event-description">
        <strong>Description</strong>
        <p style="margin-top:3%;"><%= raw @event.description %></p>
        <strong>Date</strong>
        <p><%= @event.date.strftime("%d %B %Y") %></p>
        <% if @event.link? %>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#eventbrite">Book Now</button>
        <% else %>
        <a href="<%= @event.loket_link%>" target="_blank" class="btn btn1">Book Now</a>
        <% end %>
        <%#= link_to t('.back', :default => t("helpers.links.back")),
                      events_path, :class => 'btn btn1'  %>
      </div>

      <div id="eventbrite" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= @event.title%></h4>
            </div>
            <div class="modal-body">
              <div id="eventbrite" style="width:100%; text-align:left;"><iframe src="<%= @event.link%>" frameborder="0" height="275" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
            </div>
          </div>

        </div>
      </div>
      


      <!-- <dl class="dl-horizontal">
        <dt><strong><%#= model_class.human_attribute_name(:title) %>:</strong></dt>
        <dd><%#= @event.title %></dd>
        <dt><strong><%#= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%#= @event.description %></dd>
        <dt><strong><%#= model_class.human_attribute_name(:date) %>:</strong></dt>
        <dd><%#= @event.date %></dd>
      </dl> -->
    </div>
  </div>
</div>
