<%= form_for @book, :html => { :class => "form-horizontal book" } do |f| %>

  <% if @book.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= image_tag @building.image.url(:original), :class => "img-responsive " %>
  <div class="form-group" style="display:none">
    <%= f.label :building_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :building_id, :class => 'form-control', :value => params[:building] %>
    </div>
    <%=f.error_span(:building_id) %>
  </div>
  <div class="form-group">
    <%= f.label :start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start, :class => 'form-control start_date', :required => "true" %>
    </div>
    <%=f.error_span(:start) %>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <%= f.submit nil, :class => 'btn btn-success btn-block' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
<script>
  $('.start_date').datetimepicker({
    timepicker:false,
    inline:true,
    require:true
  });
  $('.end_date').datetimepicker({
    inline:true
  });
</script>
