<style>
  .thumbnail{
    margin-top:0px!important;
  }
</style>
<div class="container m20">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <table class="table-striped table">
        <tr>
          <th>Location</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
        <% @books.each do |book| %>
          <tr>
            <td> <%= book.building.name %></td>
            <td> <%= book.start.strftime('%d-%m-%Y') %> </td>
            <td> <%= link_to 'Show', book_path(book), {:class => "btn btn-success"} %> </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-8 col-xs-12">
      <% @buildings.each do |building| %>
        <div class="col-md-6 col-xs-12">
            <div class="building thumbnail">
              <%= image_tag building.image.url(:original) %>
              <div class="location-caption">
                <h4 class="location-name"><%= building.name %> </h4>
                <%= link_to "Book", new_book_path(:building => building.id),:class => "btn btn1 location-action" %>
              </div>
            </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
