<div class="container m20">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Booking at <%= @building.name %></h4>
        </div>
        <div class="panel-body">
          <%= render :partial => 'form' %>
          <p class="text-center"><i>Please select your desired date to come</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
