<div class="container m20">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4>Thank you for your booking</h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>id</td>
              <td><b><%= @book.id %><b></td>
            </tr>
            <tr>
              <td>Location</td>
              <td><b><%= @book.building.name %><b></td>
            </tr>
            <tr>
              <td>Time</td>
              <td><%= @book.start.strftime('%d-%m-%Y') %></td>
            </tr>
          </table>
          <p> <i>Please show this to the receptionist for check in purposes</i> </p>
        </div>
      </div>
    </div>
  </div>
</div>
