<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_managers_location_path,
                  :class => 'btn btn-primary' %>
    <%- model_class = Location -%>
    <div class="box-header with-border">
      <h3 class="box-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
    </div>
    <div class="box-body table-responsive no-padding">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:image) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td><%= link_to location.id, managers_location_path(location) %></td>
            <td><%= location.name %></td>
            <td><%= location.try(:image) %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          managers_location_path(location), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_managers_location_path(location), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          managers_location_path(location),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>

  </div>
</div>
