<%= content_for(:title, "EV Hive | Located in most prime area around Indonesia") %>
<style type="text/css">
	
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  #mc_embed_signup{background:transparent; clear:left; }
  #mc-embedded-subscribe{margin:0;display:inline;}
  #mc_embed_signup .mc-field-group{width:100%;}
  #mc_embed_signup form{padding:0;}

  @media only screen and (max-width:768px){
    #mc_embed_signup form{padding-top:5%}
    #mc_embed_signup input[type="submit"]{
      width:100%;
    }
  }
</style>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="owl-carousel owl-theme location-slider" id="owl">
        <div class="item" style="background-image:url('/assets/home/img/all/location.jpg')"></div>
        <div class="item" style="background-image:url('/assets/home/img/all/location_header2.jpg')"></div>
        <div class="item" style="background-image:url('/assets/home/img/all/location_header3.jpg')"></div>
        <div class="item" style="background-image:url('/assets/home/img/all/location_header4.jpg')"></div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid" style="margin-bottom:20px">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
      <img src="/assets/home/img/header/Locations.png" alt="" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% @buildings.each do |building| %>
      <div class="col-md-6 pbottom">
        <% if building.available == true%>
          <%= link_to building_path(building) do%>
            <div class="thumbnail card buildings">
              <%= image_tag building.image.url(:original)%>
              <div class="caption">
                <h3 class="title-header location-name"><%= building.name %> </h3>
                <hr class="line-left">
                <p class="text-justify"><%= truncate(building.description, :length => 160, :omission => "..." , :escape => false)%></p>
                <%#= building.try(:description).html_safe.truncate(100,separator:' ')%>
              </div>
              <div class="action">
                <%= link_to "Explore", building_path(building), :class => "btn btn1" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="thumbnail card buildings">
            <%= image_tag building.image.url(:original), :class => "img-overlay"%>
            <div class="caption">
              <h3 class="title-header location-name"><%= building.name %> </h3>
              <p class="label label-default">Coming Soon</p>
              <hr class="line-left">
              <p><%= building.address %></p>
              <p><%= building.phone %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

    </div>
      
    <div class="col-md-6 mapx">
       <div id="mapid"></div>
    </div>
  </div>
</div>

<section class="bg-grey">
  <div class="container ptop pbottom">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/home/img/header/coming.png" width="100%" alt="">
        <small>
          EV Hive is slowly emerging to build more convenient coworking spaces. We understand that many startups,
          teams, and individuals are looking all sorts of necessity for their business, especially for locations.
          We are anxious to help. Please give your suggestions and inquiries, we would love to know!
        </small>
      </div>
      <div class="col-md-6">
        <div id="mc_embed_signup">
          <form action="//evhive.us12.list-manage.com/subscribe/post?u=736721bf8ee04dc83e368d2d0&amp;id=aa54da0ccb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate ptop" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            
          <div class="mc-field-group">
            <label for="mce-NAME"></label>
            <input type="text" value="" name="NAME" class="required" id="mce-NAME" placeholder="Name">
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL"></label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
          </div>
          <div class="mc-field-group">
            <label for="mce-LOCATION"></label>
            <input type="text" value="" name="LOCATION" class="required" id="mce-LOCATION" placeholder="Suggest a location">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_736721bf8ee04dc83e368d2d0_aa54da0ccb" tabindex="-1" value=""></div>
              <div class="clear">
                <p class="text-right"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn1"></div></p>
              </div>
          </form>
        <!--<form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Suggest a Location">
          </div>
          <p class="text-right"><input type="submit" class="btn btn1" value="Submit"></p>
        </form>-->
        </div>
      </div>
    </div>
  </div>
</section>


<script>
function initMap() {
  var markers = [
  		{cords:{lat: -6.240859, lng: 106.7871063}, content:"<h4>The Maja</h4><a href='https://goo.gl/maps/hRJ8sASShKu' target='_blank'>View on maps</a>"},
    	{cords:{lat: -6.190848, lng: 106.8223983}, content:"<h4>D.Lab</h4><a href='https://goo.gl/maps/eZ96fGcncst' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.2112994, lng: 106.8191448}, content:"<h4>Tower @ IFC 1</h4><a href='https://goo.gl/maps/iM8mTdSBNQR2' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.2212822, lng: 106.8182139}, content:"<h4>JSC Hive</h4><a href='https://goo.gl/maps/g8CYb4wmmxr' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.3015701, lng: 106.6527887}, content:"<h4>The Breeze</h4><a href='https://goo.gl/maps/8rgvCmycrD92' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.207366, lng: 106.8209373}, content:"<h4>Dimo</h4><a href='https://goo.gl/maps/n339CuX4qd52' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.2262628, lng: 106.8062467}, content:"<h4>Satellite @ SCBD</h4><a href='https://goo.gl/maps/7KgSsJECqvS2' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.23097, lng:106.809559}, content:"<h4>Satellite @ Senopati</h4><a href='https://goo.gl/maps/hDx29YFirQ92' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.2172929, lng: 106.8293538}, content:"<h4>City</h4><a href='https://goo.gl/maps/cEDx5JehnH92' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.167329, lng: 106.8330235}, content:"<h4>PT.POS</h4><a href='https://goo.gl/maps/Ka6GDHXJQg12' target='_blank'>View on maps</a>"},
      {cords:{lat: -6.189134, lng: 106.822098}, content:"<h4>Uptown</h4><a href='https://goo.gl/maps/eXKLSComjz72' target='_blank'>View on maps</a>"}
    ];
    
  var pin = {lat: -6.190848, lng: 106.8223983};
  var map = new google.maps.Map(document.getElementById('mapid'), {
    zoom: 11,
    center: markers[0].cords
  });
  

  function addMarker(props){
    var marker = new google.maps.Marker({
      position:props.cords,
      map: map,
    });
    var infoWindow = new google.maps.InfoWindow({
  	  content: props.content
  	});
  	
    marker.addListener("click", function(){
  	infoWindow.open(map,marker);
  });
  }
  
  for(var i=0;i < markers.length; i++){
  	addMarker(markers[i]);
  }
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu1wtHV3mavPq9CMMOBgFzIg07JRWYQMw&callback=initMap">
</script>


<script type="text/javascript">
  $(document).ready(function(){
    $('#owl').owlCarousel({
      autoPlay:5000,
      loop:true,
      animateOut:"fadeOut",
      margin:10,
      singleItem:true,
      navigation:true,
      navigationText:false
    });

    $(".buildings img").matchHeight(false);
    $(".buildings .caption").matchHeight(false);

  /*$(".card").on("mouseover",function(){
      var self = $(this);
      var name = self.find(".location-name").text().toLowerCase();
      
      switch(name){
        case "the maja":
          
          break;
      };*/
  });
  
</script>

<!-- Begin MailChimp Signup Form -->


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='NAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LOCATION';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->