<div class="container m20 ptop">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
      <%= render :partial => 'form' %>
    </div>
    <div class="col-md-6 col-xs-12">

    </div>
  </div>
</div>
<script>
$('html').bind('keypress', function(e)
{
   if(e.keyCode == 13)
   {
      return false;
   }
});

$('#subscription_building_id').change(function() {
  $('#ajax').html("");
  console.log($(this).val());
  var subcategory_url = "/plans.json?building_id=" + $(this).val() + "&name="+$('.mival').val().replace(/ /g, "%20");
  console.log(subcategory_url);
    $.ajax({
      url: subcategory_url,
      success: function(data) {
        $.each(data, function(k, v) {
          console.log(v.name);
                $('#ajax').append( "<label class='control-label col-lg-2'>Plan</label><div class='col-lg-10'><div class='checkbox'><label><input type='radio' checked='checked' name='subscription[plan_id]' id='subscription_plan_id"+v.id+"' value='"+v.id+"' /> "+v.name+" "+ v.price+"</label></div></div>" );
                $("#ajax").hide().slideDown().css("display","block");
                });

      }
    });
});
</script>
