<div class="container m20 ptop">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Invoice</h4>
        </div>
        <div class="panel-body">
          <p>Plans: <%= @subscription.plan.name %></p>
          <p>Price: <%= number_to_currency(@subscription.plan.price, :unit => "IDR ")%></p>
          <p>Start: <%= @subscription.created_at.strftime("%d-%m-%Y") %></p>
          <p>End: <%= @subscription.created_at.next_month.strftime("%d-%m-%Y") %></p>
          <% if @subscription.payment.name == "Virtual Account" %>
          <iframe width="100%" height="500px" src="<%= @subscription.payment_log.url  %>"  allowfullscreen="" frameborder="0">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
fbq('track', 'CompleteRegistration');
</script>

<script>
  var dataLayer = [];
  dataLayer.push({
    'ecommerce':{
      'purchase':{
        'actionField':{
          'id': '<%= @subscription.id%>',
          'affiliation': 'Website',
          'revenue': '<%= @subscription.plan.price %>',
          'tax': '0',
          'shipping': '0',
          'coupon': ''
        },
        'products':[{
          'name': '<%= @subscription.plan.name %>',
          'id': '<%= @subscription.id%>',
          'brand': '<%= @subscription.building_id%>',
          'category': 'plan',
          'variant':'',
          'quantity': 1
        }]
      }
    }
      
  });
</script>
