<div class="container">
	<div>
		<p>Thank You for your purchases</p>
		<!--<p>Subscription id: <%#= @subscription.id %></p>-->
		<hr>
		<p>We are happy to serve you</p>
		<p>EV Hive</p>
	</div>
</div>