<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <%- model_class = Promo -%>
        <div class="card-header" data-background-color="purple">
          <h4 class="title"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h4>
        </div>
        <div class="card-content">
          <%= render :partial => 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>
