<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promo.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promo.price %>
</p>

<%#= link_to 'Edit', edit_promo_path(@promo) %> |
<%= link_to 'Back', promos_path %>
