<div class="container m20">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%- model_class = Schedule -%>
            <h4><%=t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h4>
        </div>
        <div class="panel-body">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
