<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <%- model_class = Schedule -%>
        <div class="card-header" data-background-color="purple">
          <h4 class="title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:room_id) %></th>
                <th><%= model_class.human_attribute_name(:end_time) %></th>
                <th> user </th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @schedules.each do |schedule| %>
                <tr>
                  <td><%= link_to schedule.id, managers_schedule_path(schedule) %></td>
                  <td><%= schedule.room_id %></td>
                  <td><%= schedule.end_time %></td>
                  <td> <%= schedule.user.fullname %> </td>
                  <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                edit_managers_schedule_path(schedule), :class => 'btn btn-default btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                managers_schedule_path(schedule),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                :class => 'btn btn-xs btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_managers_schedule_path,
                  :class => 'btn btn-primary' %>

    </div>
  </div>
</div>
