<div class="container m20">
  <div class="row">
    <div class="col-lg-12">
      <%- model_class = Payment -%>
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title"><%=t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h4>
        </div>
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
