<div class="container">
  <div class="row">
    <%- model_class = Room -%>
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title"><%=t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h4>
      </div>
      <div class="card-content">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
