<div class="container">
  <div class="row">
    <%- model_class = Room -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>

    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @room.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @room.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:building_id) %>:</strong></dt>
      <dd><%= @room.building_id %></dd>
    </dl>

    <%= link_to t('.back', :default => t("helpers.links.back")),
                  rooms_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_room_path(@room), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  room_path(@room),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>    
  </div>
</div>
