<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title">Edit Plans</h4>
      </div>
      <div class="card-content">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
