<div class="container-fluid">
  <div class="row">
    <%- model_class = Plan -%>
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:id) %></th>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:description) %></th>
              <th><%= model_class.human_attribute_name(:price) %></th>
              <th><%= model_class.human_attribute_name(:quantity) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @plans.each do |plan| %>
              <tr>
                <td><%= link_to plan.id, managers_plan_path(plan) %></td>
                <td><%= plan.name %></td>
                <td><%= plan.description %></td>
                <td><%= plan.price %></td>
                <td><%= plan.quantity %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                              managers_plan_path(plan), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_managers_plan_path(plan), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              managers_plan_path(plan),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_managers_plan_path,
                    :class => 'btn btn-success btn-block' %>
      </div>
    </div>



  </div>
</div>
