// Variable
$orange:#fa9a0d;
$grey:#696969;
$light-orange: #eeb08a;
$dark-orange: #e79162;
$mint-green: #50E3C2;
$broken-white: #f6f8ea;
$dark-gold: #bf9f34;
$light-gold: #efcf7d;
$light-grey: #f7f7f7;
$white:#fff;
$soft-green:#b2d0d0;

//new color
//main-colors
$black:#000000;
$dark-grey:#b4b4b4;
$white:#ffffff;

//secondary-colors
$light-grey:#dfe1dd;
$light-green:#b2d0d0;

//mixin
@mixin font-color($color) {
  color: $color;
}

@mixin bg-color($color){
  background-color: $color;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin bg-properties{
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}

@mixin line-color($color){
  border: 2px solid $color;
}

@mixin header{
  height: 20vh;
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
}
//font-size
.p15{
  font-size: 1.5rem;
  font-weight: 900;
}

//font color
.font-blue{
  @include font-color($light-green);
}

.font-white{
  @include font-color($white);
}
.font-orange {
  @include font-color($dark-orange);
}

.font-gold {
  @include font-color($dark-gold);
}

//padding
.ptop{
  padding-top: 5%;
}

.ptop1{
  padding-top: 1%;
}

.pbottom{
  padding-bottom: 5%;
}
.pbottom1{
  padding-bottom: 1%;
}
.p10{
  padding:10%;
}

.bottom-right{
  position: absolute;
  right: 6%;
  bottom: 2%;
  width: 50%;
}

.bottom-left{
  position: absolute;
  left: 6%;
  bottom: 2%;
  width: 50%;
}

.line{
  width: 3rem;
  border: 2px solid $white;
}

.line-white{
  @include line-color($white);
}

.line-black{
  @include line-color($black);
}

.no-gutter{
  padding: 0;
}

.btn1{
  background-color: $light-green;
  text-transform: uppercase;
  @include font-color($white);
  opacity: 1;
  &:hover{
    opacity: 0.8;
  }
}

.btn-transparent{
  background-color: transparent;
  border: 2px solid $light-green;
  text-transform: uppercase;
  @include font-color($light-green);
  &:hover{
    opacity: 0.85;
  }
}

.btn {
  border-radius: 0;
}

//font-size
.psmall{
  font-size: 85%;
}

.bg-green{
  background-color: $light-grey;
  position:  relative;
}

.bg-light-grey{
  background-color: $light-grey;
}

//gradient-background
.gradient{
  background: -webkit-linear-gradient(left, $light-green,$light-grey);
  background: -o-linear-gradient(left, $light-green,$light-grey);
  background: -moz-linear-gradient(left, $light-green,$light-grey);
  background: linear-gradient(left, $light-green,$light-grey);
}

@media only screen and (max-width:768px){
  .ptop{
    padding-top:10%;
  }
}