// Place all the styles related to the benefits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.layer {
  width:100%;
  height:290px;
  border-radius: 15px;
  background-color:#CC199D;
  position:relative;
  -webkit-box-shadow: -1px 12px 21px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -1px 12px 21px 2px rgba(50, 50, 50, 0.75);
     box-shadow: -1px 10px 10px 1px rgba(50, 50, 50, 0.43);
  margin-bottom: 8%;
}
.bimg {
  text-align: center;
}

.bbottom {
  position:absolute;
  bottom:0;
  background-color:white;
  width:100%;
  height:155px;
  z-index:10;
  left:0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.bbutton {
  color:white;
  padding:10px;
  background-color:#F39800;
  border-radius:5px;
  position:absolute;
  right:15px;
  top:-23px;
  cursor:default;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.bbutton:hover {
  background: #FF1E2B;
}
.bright span {
  display:block;
}
.right span:nth-child(2){
  color:grey;
}
// .right span:nth-child(1){
//   color:#CC199D;
// }
.bright {
  padding:15px;
}
.imgben{
  border-radius:15px;
  width:100%;
  height:160px;
}
