// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.building.thumbnail {
  margin: 5vh 0;
  padding: 3vh;
  border-radius: 0;
}

.location-caption {
  padding: 3vh 0;

  .location-name {
    text-transform: uppercase;
    display: inline;
  }

  .location-action {
    float: right;
  }
}
