// Place all the styles related to the careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";


.jumbo-career{
  background-image:url("/assets/home/img/career.jpg");
  height: 60vh;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center center;
  position:relative;
  h1{
    color:$white;
    border:3px solid $white;
    position: absolute;
    letter-spacing:5px;
    display: block;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    padding:10px;
    text-transform: uppercase;
  }
}
.jobs{
  margin-top: 5%;
}
.job-action{
  position:relative;
  a{
    position:absolute;
    transform: translateY(50%);
  }
}

//apply button
.apply-action{
  p{
    margin-top:5%;
  }
}

@media (min-width:300px) and (max-width:700px){
  //apply button
  .apply-action{
    p{
      margin-top:5%;
      a{
        width: 100%;
      }
    }
  }

  .job-action{
    position: static;
    a{
      width: 100%;
      position: static;
      transform: translateY(0);
    }
  }
}

@media (min-width:701px) and (max-width:991px){
    .job-action{
    position: static;
    a{
      position: static;
      transform: translateY(0);
    }
  }
}