// Place all the styles related to the enquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-footer{
  input[type="email"]{
    width: 50%;
    border-radius: 0;
    float: left;
  }

}

.padding15{
  padding:5%;
}


@media (min-width:300px) and (max-width:700px) {
  .padding15{
    padding:15%;
  }

  .form-footer{
    input[type="email"]{
      width: 100%;
    }
  }
}
