// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";

.bg-event{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/assets/home/img/all/event.jpg');
}

.events{
  margin-bottom: 3%;
  -webkit-animation-delay: 1s;
  a{
    color: black;
    &:hover{
      text-decoration: none;
    }
  }
}

.event-header{
    opacity: 0.85;
    width: 100%;
    height: 350px;

    img{
      width: 100%;
      height: 100%;
    }
}
.event-details{
  @extend .event-description;
  background-color:transparent!important;
}

.event-description{
  padding: 5%;
  background-color: $broken-white;
}

.event-card{
  height: 200px;
  max-width: 100%;
  min-width: 300px;
  box-shadow: 0 7px 3px 0 #cacbcc;
  border-radius: 10px;
}


.event-image{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.2s ease;
  &:hover{
    opacity: 0.75;
  }
}

@media (min-width:300px) and (max-width:700px){
  .event-header{
    height: auto;
  }

  .events{
    margin-bottom: 5%;
  }
}