// Place all the styles related to the evhive_connects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials";

.partner-card{
  height: 120px;
  padding-top: 15%;
  i{
    color: $dark-gold;
  }

  &:hover{
    border: 1px solid $dark-gold;
  }
}

.font-gold{
  @include font-color($dark-gold);
}

.bg-connect{
  background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255,255,255,0.5)),url("/assets/home/img/connect/connect.jpg");
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255,255,255,0.5)),url("/assets/home/img/connect/connect.jpg");
  @include bg-properties;
}

.new_evhive_connect{
  input[type="text"]{
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
    font-size: 18px;
    transition: all 0.2s;
    color: #333;
  }
  
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-bottom: 1px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
    font-size: 18px;
    transition: all 0.2s;
    color: #333;
  }
  .selection-wrapper{
    position: relative;
  }
  .selection-wrapper:after {
    content:"\f0dc";
    font-family: FontAwesome;
    color: #000;
    padding: 12px 8px;
    position: absolute; right: 0; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
  }
}
