// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";
@import "nav";
@import "about";
@import "footer";
@import "creative_studio";

body {
  //padding-top: 74px;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,a,button{
  font-family: 'Oswald', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
}

.affix {
  top: 25vh;
  transition: all 0.5s ease-in-out;
}


//cowork section
.wrapper-scroll{
  overflow: hidden;
  #value{
    padding: 8% 8% 0 8%;
  }
}
.scrollable{
  height:600px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  position: relative;
}
.cowork-mobile{
  display: none;
}

//end
.btn-up{
  position: absolute;
  top: 0;
  left: 50%;
}

.btn-down{
  position: absolute;
  bottom: 0;
  left: 50%;
  
}

.overlay-item{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.7);
}

.overlay-image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.3);
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover{
    opacity: 0;
  }
}

.scroll-image-wrapper{
  position: relative;
  margin-left: 0;
  &:hover{
    .overlay-item{
      opacity: 0;
    }
  }
}

.overlay-text{
  color: $white;
}

//others
//---------------
#fut,#net{
  display: none;
}
.heading{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}

.h3-light {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
}

.relative {
  position: relative;
}

.centerer {
  @include centerer;
}

.justify {
  text-align: justify;
}

.center-justified {
  text-align: justify!important;
  margin: 0 auto !important;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  @include font-color(black);
}

.title-header {
  text-transform: uppercase;
}

.header {
  padding: 8vh 5vh 5vh 8vh;
  text-transform: uppercase;
}

.cta {
  margin-top: 5%;
}

.cta2 {
  margin-left: 1%;
}

.bg-team{
  background-image: url("/assets/home/img/team/team1.jpg");
  @include bg-properties;
  @extend .overlay;
  
}

.bg1 {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/assets/home/img/all/cover.jpg");
}

.bg2 {
  background-image: url("/assets/home/img/1.jpg")!important;
}

.bg3 {
  background-image: url("/assets/home/img/3.jpg");
}

.bg-location {
  background-image: url("/assets/home/img/jkt.jpg");
}

.bg-broken-white {
  @include bg-color($broken-white);
}

.bg-white {
@include bg-color($white);
}

.bg-grey{
  @include bg-color($dark-grey);
}

.bg-lightgrey{
  @include bg-color($light-grey);
}

.bg-about{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/home/img/all/whycowork.jpg");
}

.line-left{
  @extend .line;
  text-align: left;
  margin-left: 0;
}
.line-right{
  @extend .line;
  text-align: right;
  margin-right: 0;
}


.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

/*------Member section----------*/
#member {
  .container {
    .row {
      padding-top: 20px;
    }
  }
}

.jumbo-button {
  a {
    margin-left: 50%;
    color: #fff;

    a:hover {
      color: #696969;
    }
  }
}

.title-about {
  letter-spacing: 1px;
  text-align: center;

  u {
    text-decoration: none;
    border-bottom: 2px solid #333333;
  }
}

.desc {
  padding: 40px 0 60px;
}

.s28b {
  font-size: 28px;
  color: black;
  margin: 0;
  font-weight: 500;
}

.partners {
  margin-top: 20px;
}
/* end of others */
//jumbotron
//------------------

.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0,0,0,0.15);
}

.jumbotron {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  position: relative;
  margin-bottom: 0;

  p {
    font-size: 1.5rem;

    &:last-child {
      margin-top: 10vh;
    }
  }
}

.jumbo-small {
  height: 50vh;
  @include bg-properties;
  color: white;
  position: relative;
}

.padding-section {
  padding: 5%;
}

.description {
  line-height: 150%;
}

//Plans
.plans {
  margin-bottom: 10vh;

  li {
    list-style-type: none;

    p:first-child {
      font-weight: bold;
    }
  }
}

.plan-action {
  width: 100%;
}

.plans-title {
  text-transform: uppercase;
  margin-bottom: 15vh;
}


.clear {
  clear: both;
}

#owl .item img {
  display: block;
  width: 100%;
  max-height: 600px;
}


/*student ambassador*/
.location-item{
  position: relative;
}
.location-img{
  display: block;
  width: 100%;
  height: auto;
}
/*.overlay-item{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.3);
  
}*/
.location-item:hover{
  .overlay-item{
    opacity: 0.9;
  }
}
.overlay-text-center{
  @extend .overlay-text;
  @include centerer;
}

.bg-ambassador{
  background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/meeting.jpg");
  background-position: center center;
  background-size: cover;
}




/*------Mobile--------*/
@media screen and (min-width:300px) and (max-width:700px) {
  .jumbotron{
    .heading{
      a{
        display: block;
        margin-bottom: 5%;
      }
    }
  }
  
  .wrapper-scroll{
    display: none;
  }
  .scrollable{
    display: none;
  }
  
  .headerx {
    .container-full {
      height: 400px;
      padding-top: 15%;
    }
  }

  .event-slider{
    .overlay-image{
      visibility: hidden;
    }
  }

  .cowork-mobile{
    display: block;
    .cowork-slider{
      display: block;
      //height: 60vh;
      width: 100%;
      
      .item{
        padding: 10%;
      }
    }
  }

  .blurb{
    padding-top:5%;
  }
  /*--------Member section-----------------*/
  .member {
    .container {
      .row {
        padding-top: 10px;
      }
    }

    #members {
      img {
        width: 75px;
        height: 75px;
      }
    }
  }

  #member {
    height: 100%!important;
  }

  #member-slider {
    display: none!important;
  }

  #mobile-members {
    display: block;

    img {
      width: 100%;
    }
  }
  
  /*--------other------------------*/
  .title-body {
      margin-top: 10px;
  }
  .more {
    transition: all 0.2s ease;

    a {
      font-size: 15px;
      margin-top: 10px;
      transition: all 0.2s ease-in-out;
      outline: none !important;

      span {
        display: none;
        transition: all 0.2s ease-in-out;
        margin-left: 5px;
      }
    }

    p {
      text-align: justify;
      margin-top: 10px;
    }
  }

  .overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(0,0,0,0.2);
  }

  /*.jumbotron {
    height: 100vh;
    background-attachment: fixed;

    p {
      a{
        display: block;
      }
      &:last-child {
        display: none;
      }
    }
  }*/

  .title-body {
    width: 100%;
  }
  
  .padding-mob {
    padding-top: 12vw;
    padding-bottom: 12vw;
  }

  .header {
    margin: 12vh 5vh 5vh 8vh;
  }

  .jumbo-big {
    height: 400px;
  }

  .description {
    text-align: justify;
  }

  .cta2 {
    margin-left: 0;
  }
  //plans-img
  //------------
  .plans-img {
    text-align: center;
  }

  .plans {
    padding-left: 0;
  }

  .plans-title {
    text-align: center;
  }

  .location-item{
  .overlay-item{
    opacity: 0.9;
  }
}

}


@media (min-width:768px) and (max-width:991px){
  .navbar-nav > li{
    margin-left: 0;
  }

}