// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.building-image{
  position: relative;
}

.building-name{
  position: absolute;
  color: white;
  bottom:0;
  left: 5%;
}

.rooms{
  border-radius: 0px!important;
}
//each room
.room{
  padding:15px;
  &:first-child{border-radius: 0;}
  &:last-child{border-radius: 0;}
  a:last-child{
    margin-right: 10px;
  }
}
