<div class="container ptop pbottom">
  <h3 class="text-center pbottom"><%= @category.name %> Classes</h3>
  <div class="row">
    <% @evhive_classes.each do|classes|%>
    <div class="col-md-4 classes">
      <%= link_to schoolpreneur_path(classes) do%>
      <div class="thumbnail">
        <%= image_tag (classes.image.url(:original))%>
        <div class="caption">
          <h5><%= classes.name %></h5>
        </div>
      </div>
      <% end %>
    </div>
  <%end%>
  </div>
  
</div>