<%= content_for(:title, "Creative Studio & Space in Jakarta | EV Hive") %>
<section>
  <div class="container-fluid">
    <div class="row">
    <!--slider starts-->
      <div class="owl-carousel owl-theme building-slider">
        <a href="/assets/home/img/studio/Creative Studio Murah Jakarta.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/studio/Creative Studio Murah Jakarta.jpg')">
          </div>
        </a>
        <a href="/assets/home/img/studio/Creative Studio di Jakarta.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/studio/Creative Studio di Jakarta.jpg')"></div>
        </a>
        <a href="/assets/home/img/studio/Creative Studio di Jakarta Pusat.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/studio/Creative Studio di Jakarta Pusat.jpg')"></div>
        </a>
        <a href="/assets/home/img/studio/Creative Studio Murah di Jakarta Pusat.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/studio/Creative Studio Murah di Jakarta Pusat.jpg')"></div>
        </a>
        <a href="/assets/home/img/studio/Creative Studio Terjangkau di Jakarta.jpg" data-lightbox="studio">
          <div class="item" style="background-image:url('/assets/home/img/studio/Creative Studio Terjangkau di Jakarta.jpg')"></div>
        </a>
        
      </div>
    </div>
  </div>
  <!--<div class="jumbo-small bg-studio ptop">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 ptop">
          <h1 class="text-center">Creative Studio & Space</h1>
        </div>
      </div>
    </div>
  </div>-->
</section>

<section>
  <div class="container loc">
    <div class="row">
        <div class="col-md-6">
          <div class="thumbnail location-form">
            <h3 class="title-header">Creative Studio & Space</h3>
            <hr style="border-width:2px">
            <%= render 'enquiries/cform' %>
            <div align="center">
              <p>Or</p>
              <a href="tel:+62-8787-1111-880">Call/WA +62-8787-1111-880</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>You are What You Surround Yourselves With</h3>
              <p>Imagine a place where the environment is simply suitable for you to operate your creativity. Do you just love the fact that one environment could inspire you to do anything you want with the richness in inspiration it provides? Thanks to its surroundings, this creative space allows you indulge beyond your wildest imagination. Ever wondered where to find such creative studio in Jakarta? This creative space is here just to help you nurture and increase your creativity!</p>
            </div>
            <div class="col-md-12">
              <h3>Being Productive is a Guarantee</h3>
              <p>Ever worked in a condition where your mind is being non-productive? Well it isn’t a problem anymore. The creative space is here to stimulate your mind, thus creating a more relaxed, yet focused mind to work and even create a content you want. Let your mind be productive, and just stroll through all the creative things you could do here.</p>  
            </div>

            <div class="col-md-12">
              <h3>What You Get Here</h3>
              <p>It doesn’t stop there, this affordable creative studio in Jakarta also provides a bunch of things you could use to nurture your creative mind:</p>
              <ul>
                <li>2 Continous Light (Godox)</li>
                <li>Ring Light</li>
                <li>Manfrotto Monopod</li>
                <li>Background Color Papers</li>
                <li>Reflectors and Diffusers</li>
              </ul>
              
            </div>

            </div>
          </div>
          <%= javascript_include_tag 'application'%>
         
        </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      autoPlay:5000,
      loop:true,
      animateOut:"fadeOut",
      margin:10,
      singleItem:true,
      navigation:true,
      navigationText:false
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).on("scroll",function(){
      var form = $(".location-form");
      var windowTop = $(window).scrollTop();
      var divTop = $(".loc").offset().top;
      var divBottom = $("footer").offset().top;
      var formHeight = $(".location-form").height();
      console.log(windowTop,divTop);
      if($(window).width() > 991){
        if(windowTop > divTop){
        form.addClass("stick");
        }else{
          form.removeClass("stick");
        }
        if (windowTop > (divBottom-formHeight)) {
          form.addClass('bottom');
        } else {
            form.removeClass('bottom');
        }
      } 
    });

    $(".loc .padding-section").matchHeight(false);

  });
</script>