<div class="container m20">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      <%= devise_error_messages! %>
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          Sign Up
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Full name</label>
            <%= f.text_field :fullname, :placeholder => 'Full name', :required => true, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <label class="control-label">Building</label>
            <%= f.collection_select :building_id, Building.all ,:id,:name, {:class => 'form-control'} %>
          </div>
          <div class="form-group">
            <label class="control-label">Email</label>
            <%= f.email_field :email, :placeholder => 'Full name', :required => true, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :required => true, :class => 'form-control'  %>
          </div>
          <div class="form-group">
            <label class="control-label">Password Confirmation</label>
            <%= f.password_field :password_confirmation, :placeholder => 'Password', :required => true, :class => 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-success btn-block' %>
          </div>
        </div>
      </div>
      <% end %>
      <%= render "managers/shared/links" %>

    </div>
  </div>
</div>
