<%= form_for @enquiry, :html => { :class => "form-horizontal enquiry" } do |f| %>

  <% if @enquiry.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @enquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-12">
      <%= f.text_field :name, :class => 'form-control', :required => true, :placeholder => 'First Name' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <%= f.text_field :last_name, :class => 'form-control', :required => true, :placeholder => 'Last Name' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <%= f.text_field :phone, :class => 'form-control', :required => true, :placeholder => 'Phone' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <%= f.email_field :email, :class => 'form-control', :required => true, :placeholder => 'email' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <%= f.collection_select :building_id, Building.all ,:id,:name,:class => 'form-control', :prompt => true, :selected => 1 %>

    </div>
    <%=f.error_span(:building_id) %>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <%= f.select :plan,[['Daily Pass', 'Daily Pass'], ['Flexi Desk', 'Flexi Desk'], ['Dedicated Desk','Dedicated Desk'], ['Private Office','Private Office'],['Meeting Room','Meeting Room'],['Event Space','Event Space'],['Creative Space','Creative Space'],['Virtual Office','Virtual Office']], :class => 'form-control', :selected => 'Event Space' %>
    </div>
    <%=f.error_span(:plan) %>
  </div>
  <!--<div class="form-group">
    <div class="col-lg-12">
      <%#= f.text_field :enquiry, :class => 'form-control', :required => true, :placeholder => 'Enquiry' %>
    </div>
    <%#=f.error_span(:enquiry) %>
  </div>-->
  <div class="form-group">
    <div class="col-lg-12">
      <%= recaptcha_tags %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <%= f.submit 'Schedule Tour', :class => 'btn btn1 btn-block' %>
    </div>
  </div>

<% end %>
