<%= form_for @enquiry, :html => { :class => "form-horizontal enquiry" } do |f| %>

  <% if @enquiry.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @enquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "First Name", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :required => true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, :required => true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :required => true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :required => true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :building_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :building_id, Building.all ,:id,:name,:class => 'form-control', :prompt => true %>
    </div>
    <%=f.error_span(:building_id) %>
  </div>

  <div class="form-group">
    <%= f.label :plan, :class => 'control-label col-lg-2' %>
    
    <div class="col-lg-10">
      <%= f.select :plan,[['Daily Pass', 'Daily Pass'], ['Flexi Desk', 'Flexi Desk'], ['Dedicated Desk','Dedicated Desk'], ['Private Office','Private Office'],['Meeting Room','Meeting Room'],['Event Space','Event Space'],['Creative Space','Creative Space'], ['Virtual Office','Virtual Office']], :class => 'form-control', :selected => 'Daily Pass' %>
    </div>
    <%=f.error_span(:plan) %>
  </div>

  <!--<div class="form-group">
    <%#= f.label :enquiry, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :enquiry, :class => 'form-control' %>
    </div>
    <%#=f.error_span(:enquiry) %>
  </div>-->
  <%=hidden_field_tag 'utm_source', @utm_source%>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= recaptcha_tags %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Schedule Tour', :class => 'btn btn-block btn-success' %>
      <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
