<%- model_class = Enquiry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:building_id) %></th>
      <th><%= model_class.human_attribute_name(:enquiry) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= link_to enquiry.id, enquiry_path(enquiry) %></td>
        <td><%= enquiry.name %></td>
        <td><%= enquiry.phone %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.building_id %></td>
        <td><%= enquiry.enquiry %></td>
        <td><%=l enquiry.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_enquiry_path(enquiry), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      enquiry_path(enquiry),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enquiry_path,
            :class => 'btn btn-primary' %>
