<%- model_class = Enquiry -%>
<!--<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>-->

<div class="row">
  <div class="col-md-6 col-md-offset-3 padding15">
    <h1 class="text-center">Schedule A Tour</h1>
    <%= render :partial => 'form' %>  
  </div>
</div>

