<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js">

<!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<div class="container m20 ptop">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h4>Thank You</h4>
        </div>
        <div class="panel-body">
          Thank you for your enquiry.
          <br><br>
          Our Team will contacting you soon. If you need any further information,
          <br>
          you may contact us at info@evhive.co
          <br>
          <br>
          <i>EV Hive</i><br>
          <i>Management</i>
          <p><img	style="display:none;" src="https://app.referoffer.com/appointmentpixel.ashx?oguid=BBE2D8288C0B42A4888F6DD86EBF54CD&appointmentid=<%= @enquiry.id %>"/></p>
        </div>
      </div>
    </div>
  </div>
</div>

