<%= content_for(:title, "EV Hive | Located in most prime area around Indonesia") %>
<section class="locations">
  <div class="container-full">
    <div class="jumbo-small bg-location">
      <h1 class="header">Located in the most strategic area all around Indonesia</h1>
    </div>
  </div>

  <!-- Location starts  -->
  <div class="container">
    <div class="row">
      <% @locations.each do |location| %>
      <div class="col-md-6">
        <div class="location thumbnail">
          <%= image_tag location.image.url(:original) %>
          <div class="location-caption">

            <h3 class="location-name"><%= location.name %></h3>
            <%= link_to "explore", location_path(location), :class => "btn btn1 location-action"%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- End of location -->

  <!-- locations description  -->
  <div class="container">
    <div class="row">
      <div class="col-md-9 padding-section">
        <p class="description">Located in the prime area all around Indonesia. Providing easy access to surrounding area. Provide beautiful landscape with outdoor greenery scenery.
          As well as, the most comfortable and fair plan that you can choose. Find the best package with us.
        </p>
        <a href="#" class="btn btn1 cta">Explore Plans</a>
      </div>
    </div>
  </div>
  <!-- end -->
</section>
