<%= content_for(:title, "EV Hive | #{@location.name}") %>
<style>
       #map {
        height: 85%;
        width: 100%;
       }
       #map2{
         height: 85%;
         width: 100%;
       }
</style>
<div class="container-full">
  <div class="row">
    <div class="col-md-6 padding-mob">
      <% @buildings.each do |building| %>
      <div class="col-md-6">
        <div class="location thumbnail">
          <%= image_tag building.image.url(:original) %>
          <div class="location-caption">
            <h4 class="location-name"><%= building.name %> </h4>
            <%= link_to "Explore", building_path(building), :class => "btn btn1 location-action" %>
          </div>
          <!-- Dono edit -->
          <table class="table">
            <% building.plans.each do |plan|  %>
              <tr>
                <td> <%= plan.name %></td>
                <td> <%= number_to_currency(plan.price, :unit => "IDR ") %></td>
              </tr>
            <% end %>
          </table>

        </div>
      </div>
      <% end %>

    </div>

    <div class="col-md-4 mapx">
      <!-- <div class="google-maps"> -->
          <%if @location.id === 1%>
            <div id="map"></div>
          <% else %>
            <div id="map2"></div>
          <% end %>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 padding-section">
      <p class="description">Located in the prime area all around Indonesia. Providing easy access to surrounding area. Provide beautiful landscape with outdoor greenery scenery.
        As well as, the most comfortable and fair plan that you can choose. Find the best package with us.
      </p>
      <a href="#" class="btn btn1 cta">Explore Plans</a>
    </div>
  </div>
</div>
<script type="text/javascript">
//map jakarta
var mymap = L.map('map').setView([-6.1906852,106.8222684],11);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZG9ub2V2aGl2ZSIsImEiOiJjajJvdTVndHQwMzM5MnJtaXU1ZnBxdWd1In0.b3f3tendDgfYv3Zw04o2Rg', {
  maxZoom: 18,
  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
  id: 'mapbox.streets'
}).addTo(mymap);
L.marker([-6.240858, 106.789295]).addTo(mymap).bindPopup("<a href='http://evhive.co/buildings/the-maja'>The Maja.</a>").openPopup();
L.marker([-6.1906852,106.8222684],17).addTo(mymap).bindPopup("<a href='http://evhive.co/buildings/d-lab'>D,lab</a>").openPopup();
L.marker([-6.301745, 106.654361]).addTo(mymap).bindPopup("<a href='http://evhive.co/buildings/the-breeze'>The Breeze</a>").openPopup();
L.marker([-6.221282, 106.820392]).addTo(mymap).bindPopup("<a href='http://evhive.co/buildings/jsc-hive'>Jsc Hive</a>").openPopup();

var popup = L.popup();

function onMapClick(e) {
  popup
    .setLatLng(e.latlng)
    .setContent("You clicked the map at " + e.latlng.toString())
    .openOn(mymap);
}

mymap.on('click', onMapClick);

</script>

<script type="text/javascript">
//map bsd
var mymap2 = L.map('map2').setView([-6.301745, 106.654361],12);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZG9ub2V2aGl2ZSIsImEiOiJjajJvdTVndHQwMzM5MnJtaXU1ZnBxdWd1In0.b3f3tendDgfYv3Zw04o2Rg', {
  maxZoom: 18,
  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
  id: 'mapbox.streets'
}).addTo(mymap2);
L.marker([-6.301745, 106.654361]).addTo(mymap2).bindPopup("<a href='http://evhive.co/buildings/the-breeze'>The Breeze</a>").openPopup();

var popup = L.popup();

function onMapClick2(e) {
  popup
    .setLatLng(e.latlng)
    .setContent("You clicked the map at " + e.latlng.toString())
    .openOn(mymap2);
}

mymap2.on('click', onMapClick2);
</script>
