<div class="container m20">
  <div class="row">
<% if params[:plan].present? %>
<div class="col-md-offset-3 col-md-6 col-xs-12">
  <div class="panel panel-default">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="stepwizard">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
              <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
              <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
              <p>Step 3</p>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <%= devise_error_messages! %>
          <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
              <div class="col-md-12">
                <h3> Step 1</h3>
                <div class="form-group">
                  <label class="control-label">Full name</label>
                  <input type="text" class="mival" value="<%= params[:plan] %>" style="display:none">

                  <%= f.text_field :fullname, :placeholder => 'Full name', :required => true, :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <%= f.email_field :email, :placeholder => 'Full name', :required => true, :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <label class="control-label">Password</label>
                  <%= f.password_field :password, :placeholder => 'Password', :required => true, :class => 'form-control'  %>
                </div>
                <div class="form-group">
                  <label class="control-label">Password Confirmation</label>
                  <%= f.password_field :password_confirmation, :placeholder => 'Password', :required => true, :class => 'form-control'  %>
                </div>
                <button class="btn btn-success btn-block nextBtn" type="button" >Next</button>
              </div>
            </div>
          </div>
          <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
              <div class="col-md-12">
                <h3> Step 2</h3>
                <%= f.fields_for :subscriptions do |builder|  %>
                <div class="form-group">
                  <label class="control-label">Location</label>
                  <br>
                  <%= builder.collection_select :building_id, Building.all, :id, :name,:class => 'form-control', :prompt => true %>
                </div>
                <div class="form-group">
                  <label class="control-label">Payment</label>
                  <br>
                  <%= builder.collection_select :payment_id, Payment.all, :id, :name,:class => 'form-control', :prompt => true  %>
                </div>
                <div id="ajax" class="form-group">

                </div>

                <% end %>
                <button class="btn btn-success nextBtn btn-block" type="button" >Next</button>
              </div>
            </div>
          </div>
          <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
              <div class="col-md-12">
                <h3> Step 3</h3>
                <p>Please complete your payment</p>
                <div id="payment">
                </div>
                <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-block btn-success' %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
<% else %>
<div class="col-md-offset-3 col-md-6 col-xs-12">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      Sign Up
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="control-label">Full name</label>
        <%= f.text_field :fullname, :placeholder => 'Full name', :required => true, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label">Email</label>
        <%= f.email_field :email, :placeholder => 'Full name', :required => true, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <%= f.password_field :password, :placeholder => 'Password', :required => true, :class => 'form-control'  %>
      </div>
      <div class="form-group">
        <label class="control-label">Password Confirmation</label>
        <%= f.password_field :password_confirmation, :placeholder => 'Password', :required => true, :class => 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-success btn-block' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
</div>
</div>
<script>
$('html').bind('keypress', function(e)
{
   if(e.keyCode == 13)
   {
      return false;
   }
});


$('#user_subscriptions_attributes_0_payment_id').change(function() {
  $('#payment').html("");
  console.log($(this).val());
  var subcategory_url = "/payments/" + $(this).val() +'.json';
  $.ajax({
    url: subcategory_url,
    success: function(data) {
    var content = '<b>Payment instruction:</b><br>'+data.description+'<br>';
    $("#payment").hide().html(content).slideDown().css("display","block");
    end
    }
  });
});
$('#user_subscriptions_attributes_0_building_id').change(function() {
  $('#ajax').html("");
  console.log($(this).val());
  var subcategory_url = "/plans.json?building_id=" + $(this).val() + "&name="+$('.mival').val().replace(/ /g, "%20");
  console.log(subcategory_url);
    $.ajax({
      url: subcategory_url,
      success: function(data) {
        $.each(data, function(k, v) {
          console.log(v.name);
                $('#ajax').append( "<label class='control-label'>Plan</label><div class='checkbox'><label><input type='radio' name='user[subscriptions_attributes][0][plan_id]' checked='checked' id='user_subscriptions_attributes_0_plan_id_value"+v.id+"' value='"+v.id+"' /> "+v.name+" "+ v.price+"</label></div>" );
                $("#ajax").hide().slideDown().css("display","block");
                });

      }
    });
});

$(document).ready(function () {
var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn');

allWells.hide();

navListItems.click(function (e) {
    e.preventDefault();
    var $target = $($(this).attr('href')),
            $item = $(this);

    if (!$item.hasClass('disabled')) {
        navListItems.removeClass('btn-primary').addClass('btn-default');
        $item.addClass('btn-primary');
        allWells.hide();
        $target.show();
        $target.find('input:eq(0)').focus();
    }
});

allNextBtn.click(function(){


    var curStep = $(this).closest(".setup-content"),
        curStepBtn = curStep.attr("id"),
        nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
        curInputs = curStep.find("input[type='text'],input[type='email'],input[type='password'],input[type='url']"),
        isValid = true;

    $(".form-group").removeClass("has-error");
    for(var i=0; i<curInputs.length; i++){
        if (!curInputs[i].validity.valid){
            isValid = false;
            $(curInputs[i]).closest(".form-group").addClass("has-error");
        }
    }

    if(curStep.find("input[id='user_password']").val() != curStep.find("input[id='user_password_confirmation']").val() ){
      isValid = false;
      alert('Password did not match!');
    }


    if (isValid)
        nextStepWizard.removeAttr('disabled').trigger('click');

});

$('div.setup-panel div a.btn-primary').trigger('click');
});
</script>
